{
  "mapping": "mapping.csv",
  "plotly_template": "plotly_white",
  "output": "_output",
  "figures": "figures",
  "data": "data",
  "intake_questionnaire": "intake-questionnaire.csv",
  "post_experiment_questionnaire": "post-questionnaire.csv",
  "always_analyse": false,
  "processed_data_cache": "processed_human_experiment_data.pkl",
  "primary_trigger_threshold": 0.1,
  "trigger_threshold": [0.05, 0.1, 0.5],
  "kp_resolution": 100,
  "yaw_resolution": 20,
  "smoothen_signal": true,
  "freq": 120,
  "mincutoff": 0.1,
  "beta": 0.1,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 12,
  "p_value": 0.001
}