{
  "mapping": "data/unshuffled/mapping.csv",
  "plotly_template": "plotly_white",
  "output": "_output",
  "figures": "",
  "data": "data",
  "input_csv": "data/intake-questionnaire.csv",
  "post_input_csv": "data/post-questionnaire.csv",
  "kp_resolution": 100,
  "yaw_resolution": 20,
  "smoothen_signal": true,
  "freq": 120,
  "mincutoff": 0.1,
  "beta": 0.1,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 12,
  "p_value": 0.001
}